<div class="container">
    <div class="bg-secondary bg-opacity-10 mb-3 py-2 text-center">
        <h3 class="fw-bold fs-2">Client Management</h3>
    </div>    
   
    <div class="d-flex justify-content-between align-items-center my-4">
      <div class="form-floating w-50">
        <input type="text" placeholder="search...." class="form-control rounded-4 border-2">
        <label>Search Client</label>
      </div>
      <div class="">
            <button class="btn btn-primary rounded-4 mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Add New
          </button>
          <a routerLink="pet" class="btn btn-warning rounded-4">
              Pet List
          </a>
      </div>
    
    </div>
    <!-- table -->
        <table class="table mt-3">
            <thead>
                <tr class="table-primary text-center">
                    <th>Client Id</th>
                    <th>Name</th>
                    <th>Contact No.</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let owner of Owners">
                    <td>{{ owner.id }}</td>
                    <td>{{owner.firstName}} {{owner.lastName}}</td>
                    <td> 
                        <ul class="mb-0 ps-3">
                            <li *ngFor="let contact of owner.contacts">
                                {{contact.contactNo}}
                            </li>
                        </ul>
                    </td>
                    <td> <button class="btn btn-warning rounded-4">Click ME</button></td>
                </tr>
            </tbody>
        </table>
</div>


<app-add-update-modal></app-add-update-modal>